# Ignore logs
*.log
**/logs/
!backend/**/logs/*example*

# Ignore temporary files
*.tmp
*.temp
*.bak
*.swp
*.DS_Store

# Ignore build outputs
bin/
obj/
backend/bin/
backend/obj/

# Ignore frontend dependencies
frontend/node_modules/
frontend/dist/
